/* Coming Soon text appearance */
.navigation-main a.cs-msg:hover,
.navigation-social a.cs-msg:hover,
.navigation-content a.cs-msg:hover {
    color: transparent; /* Hide original text color */
}

.navigation-main a.cs-msg:hover::before,
.navigation-social a.cs-msg:hover::before,
.navigation-content a.cs-msg:hover::before {
    content: 'Coming Soon';
    color: var(--primary-color);
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%) scale(0.9); /* Center and scale down slightly */
    white-space: nowrap; /* Ensure single line */
}
