/* Reset default browser styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom font */
@font-face {
    font-family: 'PixeloidSans';
    src: url('/assets/fonts/pixeloid-font/PixeloidSans-mLxMm.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Base Heading Styles */
h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
    font-family: 'PixeloidSans', sans-serif;
    font-weight: normal;
    font-style: normal;
}

/* Main body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #333;
}

/* Header styling */
.header {
    height: 32px;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #252525;
}

/* Navigation styling */
.navigation {
    text-align: center;
    overflow-x: auto;
    white-space: nowrap;
    cursor: grab;
}

.navigation-links {
    list-style-type:none; 
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
}

.navigation-links li{
    display: inline-block;
}

.navigation-links a {
    color: #ffffff;
    font-family: 'PixeloidSans', sans-serif;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.navigation::-webkit-scrollbar {
    display: none;
}

.title {
    height: 64px;
    width: auto;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.page-title {
    text-align: center;
    padding: 20px;
}

.page-sub-title {
    text-align: center;
}

/* Main content styling */
.main-content {
    min-height: 1080px; /* needs to be anchored at the bottom */
    text-align: center;
}

/* footer content styling */
.footer {
    text-align: center;
}