/* Reset default browser styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom font */
@font-face {
    font-family: 'PixeloidSans';
    src: url('/assets/fonts/pixeloid-font/PixeloidSans-mLxMm.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Base Heading Styles */
h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
    font-family: 'PixeloidSans', sans-serif;
    font-weight: normal;
    font-style: normal;
}

/* Main body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #333;
}

/* Header styling */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #000000;
    position: relative;
    max-width: 100%; /* Ensures the logo does not exceed the width of its container */
    height: auto; /* Maintains the aspect ratio */
}

/* Banner styling */
.banner {
    background-color: #000000;
    text-align: center;
}

.banner-links {
    list-style-type:none;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.banner-links li a {
    color: #ffffff;
    font-size: 21px;
    font-family: 'PixeloidSans', sans-serif;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    padding: 20px;
}

.company-logo {
    font-size: 72px;


    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.page-title {
    text-align: center;
    font-size: 54px;
}

/* Main content styling */
.main-content {
    text-align: center;
}

.page-sub-title {
    text-align: center;
    font-size: 36px;
}

/* footer content styling */
.footer {
    text-align: center;
}

/* Responsive design for mobile screens */
@media (max-width: 768px) {
    .nav-menu ul {
        flex-direction: column;
        display: none; /* Hide menu by default on mobile */
        background-color: #333;
        position: absolute;
        top: 60px;
        right: 20px;
        width: 150px;
    }

    .nav-toggle {
        display: block; /* Show toggle button on mobile */
    }

    .nav-menu ul.active {
        display: flex; /* Show menu when active */
    }

    .banner-links {
        flex-direction: row;
        gap: 10px;
    }

    .links-container {
        flex-direction: column;
        align-items: center;
    }
}