/* responsive-design.css */

/* Responsive Header */
.responsive-design-header {
    display: none;
}

/* Hide the header initially */
.responsive-design-header.hidden {
    transform: translateY(-100%);
}

/* Styles for the hamburger button */
.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    z-index: 10;
}

.hamburger span {
    width: 100%;
    height: 4px;
    background-color: #ffffff;
}

/* Search button styling */
.search-button {
    display: flex;
    justify-content: center;
}

.search-button button {
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.search-button button:hover {
    background-color: #f0f0f0;
}

/* Media query for small screens */
@media (max-width: 768px) {
    .latest-additon-banner {
        display: none; 
    }
    
    .header {
        display: none;
    }

    /* Header adjustment */
    .responsive-design-header {
        display: flex;
        flex-direction: row; /* Horizontal alignment */
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #000000;
        z-index: 1000;
        transition: transform 0.3s ease-in-out; /* Smooth transitions */
    }

    .navigation-top {
        flex-direction: column;
        align-items: flex-start;
    }

    .navigation-main,
    .navigation-social,
    .navigation-content {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }

    .navigation-main.active,
    .navigation-social.active,
    .navigation-content.active {
        display: flex;
    }

    /* Adjust the padding and layout for smaller screens */
    .navigation-main a,
    .navigation-social a,
    .navigation-content a {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #fff; /* Add borders for separation */
    }

    .hamburger {
        display: flex;
    }

    .responsive-design-logo {
        width: 50%;
    }

    .search-button button {
        padding: 8px 10px;
        font-size: 14px;
    }
}
